# ignore emacs and vim backup files
*~
\#*\#
.\#*
[._]*.sw[a-p]
[._]sw[a-p]

# default Android Studio ignore
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
