# ignore emacs and vim backup files
*~
\#*\#
.\#*
[._]*.sw[a-p]
[._]sw[a-p]

# Android Studio files
.DS_Store
*.iml
*.aab

/.cxx
/.externalNativeBuild
/.gradle
/.idea
/build
/captures
/local.properties
/release
